cython  
openpyxl
plotly
bokeh 
numpy 
scipy 
sklearn 
scikit-plot 
matplotlib 
ipython 
pandas 
sympy 
seaborn 
nose
pycaret 
SQLAlchemy 
streamlit 
sidetable 
regex 
requests 
fuzzy-match 
google-cloud-bigquery 
google-cloud-bigquery-storage
